[run]
source  =   src/
omit    =  laskarit/**,
            src/tests/**,
            src/ui/**,
            src/database/**,
            src/services/**,
            src/index.py,
            src/config.py,
            src/build.py,
            src/demo.py,
            src/utils.py
